# URL base da API do nori-sales (Spring Boot)
VITE_SALES_API_URL=http://localhost:8080/nori-sales/v1

# URL base da API do nori-stock (Spring Boot)
VITE_STOCK_API_URL=http://localhost:80821/nori-stock/v1
